body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #2f2f2f;
}

header {
  background: #7e4ba0;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.3s ease;
}


nav ul li a:hover {
  color: #a678c1;
}


section {
  padding: 100px 20px 60px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
}


#home {
  background: #ece3f4;
}

#impacto-cultural {
  background: #d4c0e6;
}

#principais-artistas {
  background: #bca2d1;
}

#hip-hop-moda {
  background: #a764bf;
}

img {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #7e4ba0;
  color: white;
  position: relative;
}

section h1,
section h2,
section h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
}

.artistas {
  max-width: 900%;
  display: flex;
  margin-top: 20px;
}

.artistas figure {
  text-align: center;
  width: 110%;
}


figcaption {
  margin-top: 8px;
  font-family: monospace;
  color: #000000;
  font-weight: 20;
}

.btn-custom {
  background-color: #7e4ba0; 
  color: white;
  border: 2px solid #7e4ba0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: #a678c1; 
  color: white;
  border-color: #a678c1;
}
.carousel-caption h5,
.carousel-caption p {
  color: rgb(255, 255, 255) !important;
}
